{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset ="utf-8">
    <meta name = "viewport" content="width=device-width">
    <title>"Productivity Boost"</title>
    <link rel="stylesheet" href="{% static 'cal/style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/icons?icon.query=play&icon.style=Outlined">
</head>

<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">Boost Verse</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/tasks" class="navbar__links">TASKS</a>
                </li>
                <li class="navbar__item">
                    <a href="/pomodoro" class="navbar__links">POMODORO</a>
                </li>
                {% if user.is_authenticated %}
                <li class="navbar__btn ">
                    <a href="/signout" class="button">SIGN OUT {{ user }}?</a>
                    {% comment %} <h1> Welcome {{ user }} </a> {% endcomment %}
                </li>
                {% else %}
                <li class="navbar__btn ">
                    <a href="/signin" class="button">SIGN UP / LOGIN</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="services">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
        <strong> Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> </button>
        <span aria-hidden="true"> &times;</span>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <h3> Hello {{ user }} </h3>
        <h4> You're sucessfully logged in </h4>
        {% endif %}
        <h1>Improve your studying! BOOSTVERSE! </h1>
        <div class="services__container">
            <div class="services__card">
                <h2>POMODORO SESSION</h2>
                <button class="main__btn"><a href="/pomodoro">START</a></button>
            </div>
            <div class="services__card">
                <h2>TASK LIST</h2>
                <button class="main__btn"><a href="/tasks">START</a></button>
            </div>
        </div>
    </div>

    <script src="{% static 'cal/app.js ' %}"></script>
</body>

</html>